@import "tailwindcss";


@theme {
  --font-display: "Satoshi", "sans-serif";

  --breakpoint-3xl: 120rem;

/* --------colors------- */

 --color-darkBlue: #0860DE;
  --color-lightBlack: #2E2E2E;
 --color-darkBlack: #000000;
 --color-tabBlue: #007AFF;
 --color-white: #FFFFFF;
 --color-backColor: #F1F6FF;
  --color-gray:#909090;
}